[Desktop Entry]
Version={{ briss_version }}
Name=BRISS
Comment=Crop PDFs
Exec=java -jar /opt/briss-{{ briss_version }}/briss-{{ briss_version }}.jar
Terminal=false
Type=Application
Categories=Utility;

